<% content_for :title do %>Emerald Coast Foundation<% end %>
<% content_for :description do %>
The Emerald Coast Foundation is an organization that supports children’s charities and youth organizations in Okaloosa County. They orchestrate several fundraising events each year to achieve their mission of investing in youth.
<% end %>

<div class="banner">
    <div class="container">
        <div class="ecf-logo">
            <%= image_tag('ecfoundation1.png', alt: 'Emerald Coast Foundation logo', class: 'img-responsive foundation-logo') %>
        </div>
        <div class="ecf-creed">
            <h4 class="creed">To provide support, resources, and funding to local children’s charities, in order that they may achieve all their goals.</h4>
        </div>
    </div>
</div>


<div class="foundation-sec">
    <div class="container no-padding">
        <div class="foundation">
            <div class="col-md-12">
                <p>
                    The strength of the Emerald Coast Foundation is its ability to achieve its mission: ECF is committed to “Investing in Youth” in Northwest Florida. This capacity is encapsulated in a number of fund raising activities that take place throughout the calendar year. The largest is the Emerald Coast Poker Run, held annually in August.
                </p>

                <p>
                    This tremendous event, hosted by ECF, is one of the largest boat poker runs in the country. The Emerald Coast Foundation is the only not-for-profit organization that puts forth such effort, for the sole purpose of expanding its charitable reward and helping our most precious resource: the children of our community.
                </p>

                <p>
                    Throughout the year we depend on local support to accomplish our calendar of events. Through sponsorships from individuals, businesses, and large corporations, the Emerald Coast Foundation is able to bring together many levels of support, and that’s where you can help. By supporting ECF, you can directly help the youth organizations in Northwest Florida provide much needed services.
                </p>

                <div class="modal-links">
                    <a data-uk-modal="{center:true}" class="board-modal" href="#modal-board"><h4>Meet Our Board Members</h4></a>
                    <a data-uk-modal="{center:true}" class="board-modal" href="#modald"><h4>Donate to the Cause</h4></a>
                </div>

                <div class="uk-modal" id="modal-board">
                    <div class="uk-modal-dialog uk-modal-dialog-large">
                        <a class="uk-modal-close uk-close"></a>
                        <div class="content">
                            <div class="admin">
                                <h3>Meet Our Board</h3>
                                <div class="row top">
                                    <div class="col-md-4 col-md-offset-2 col-xs-12">
                                        <h4><span>President</span><br>Peggy King</h4>
                                    </div>
                                    <div class="col-md-4 col-xs-12">
                                        <h4><span>Vice President</span><br>Jackie Blue</h4>
                                    </div>

                                    <div class="col-md-4 col-md-offset-2 col-xs-12">
                                        <h4><span>Treasurer </span><br>Nicole Nabors</h4>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <h4><span>Secretary </span><br>Catherine Gauthier</h4>
                                    </div>

                                    <div class="col-md-10 col-md-offset-1 col-xs-12"><hr><hr></div>
                                    <div class="clearfix"></div>
                                </div>
                                
                                <div class="row bottom">
                                    <div class="col-md-4 col-xs-12">
                                        <p>Ashley Allegretto</p>
                                        <p>Charlotte Bergman</p>
                                        <p>Maureen Bierman</p>
                                        <p>Gabby Bruce</p>
                                        <p>Kim Cox</p>
                                        <p>Chris Daggs</p>
                                        <p>Kim Denman</p>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <p>Catherine Gauthier</p>
                                        <p>Ron Grissom</p>
                                        <p>Jeremy Holcomb</p>
                                        <p>Shawna Laethem</p>
                                        <p>Tammy Magee</p>
                                        <p>Beth Mangum</p>
                                        <p>Christine McPherson</p>
                                    </div>

                                    <div class="col-md-4 col-xs-12">
                                        <p>David Oberliesen</p>
                                        <p>Sarah Peavy</p>
                                        <p>Shaun Ritter</p>
                                        <p>Stephen Smith</p>
                                        <p>Mary Tinsley</p>
                                        <p>Ginger Walker</p>
                                        <p>Melissa Watson</p>
                                    </div>
                                </div>

                                <div class="col-md-4 col-md-offset-4 col-xs-12 image-row"><%= image_tag('ecfoundation2.png', alt: 'Emerald Coast Foundation logo', class: 'img-responsive foundation-logo') %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="col-md-12"><hr><hr></div>
        <div class="clearfix"></div>

        <div class="charities">
            <h3>Our Charities</h3>
            <div class="org-box">
                <a data-uk-modal="{center:true}" class="org-modal" href="#modal-allsp">
                    <%= image_tag('charity/org-allsp.png', alt: 'All Sports Association logo', class: 'img-responsive') %>
                </a>
                <div class="uk-modal" id="modal-allsp">
                    <div class="uk-modal-dialog uk-modal-dialog-large">
                        <a class="uk-modal-close uk-close"></a>
                        <div class="content">
                            <h3>The All Sports Association</h3>

                            <div class="desc">
                                <p>The All Sports Association is an organization whose membership is made up of dues-paying volunteers whose primary mission is to provide a contribution of time to raise money for local youth oriented non-profit organizations with an emphasis on sports programs. </p>

                                <p>Through the efforts of the All Sports Association’s annual banquet and summer golf tournament, the group helps fund numerous worthwhile sports organizations and charitable causes. Our primary beneficiaries of the All Sports Association are the Boys &amp; Girls Club of the Emerald Coast, Special Olympics Florida-Okaloosa, Eleanor J. Johnson Youth Center and Okaloosa Walton FCA.</p>

                                <p>Since 1970, the All Sports Association has brought together the finest athletes in Northwest Florida. Each February, at their annual Awards Banquet, they honor the area’s top High School, Collegiate, Amateur, Professional, and Special Olympic athletes and individuals who have fostered youth activities.</p>

                                <p>Also presented at the banquet is the Wuerffel Trophy, honoring the college football player who best combines exemplary community service with athletic and academic achievement, and the Col Al Byrne Award, recognizing a local individual who demonstrates outstanding support of youth athletics.</p>

                                <p>In 2009, the inaugural Taylor Haugen Trophy was established and presented. The award is in honor of Taylor Reid Haugen, who passed away from injuries sustained in a football game while playing JV wide-receiver for Niceville High School.</p>
                            </div>
                            <%= link_to(image_tag('charity/org-allsp.png', alt: 'All Sports Association Logo', class: 'img-responsive charity-logo'), allsports_path, :target => '_blank' ) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="org-box">
                <a data-uk-modal="{center:true}" class="org-modal" href="#modal-arc">
                    <%= image_tag('charity/org-arc.png', alt: 'The Arc of Emerald Coast logo', class: 'img-responsive') %>
                </a>
                <div class="uk-modal" id="modal-arc">
                    <div class="uk-modal-dialog uk-modal-dialog-large">
                        <a class="uk-modal-close uk-close"></a>
                        <div class="content">
                            <h3>The Arc of the Emerald Coast</h3>
                            <div class="desc">
                                <p>As of June 1, 2015, Horizons of Okaloosa County re-branded to The Arc of the Emerald Coast. Offering services to over 400 men, women and children with intellectual and developmental disabilities in Okaloosa, Walton and Santa Rosa Counties, our mission remains the same. "To develop a path from disability to capability".</p>
                                <p>With a newly renovated, state of the art Children's Center, 3 Adult Day Training Centers, assisted living, respite care, in home early intervention, 5 group homes providing 25/7 care, job training, placement and transportation, Horizons is proud to be the largest provider of services to the disabled in the area. For those with Down Syndrome, Cerebral Palsy, Autism and other disabilities, the wants are small, but the need is large.</p>
                                <p>Funds from the Emerald Coast Foundation have helped The Arc continue to provide more, and better services to better serve the community.</p>
                            </div>
                            <%= link_to(image_tag('charity/org-arc.png', alt: 'The Arc of Emerald Coast Logo', class: 'img-responsive charity-logo'), arc_path, :target => '_blank' ) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="org-box">
                <a data-uk-modal="{center:true}" class="org-modal" href="#modal-cic">
                    <%= image_tag('charity/org-cic.png', alt: 'Children in Crisis logo', class: 'img-responsive') %>
                </a>
                <div class="uk-modal" id="modal-cic">
                    <div class="uk-modal-dialog uk-modal-dialog-large">
                        <a class="uk-modal-close uk-close"></a>
                        <div class="content">
                            <h3>Children In Crisis, Inc</h3>

                            <div class="desc">
                                <h4 style="margin-bottom:10px;"><b>Our Mission</b></h4>
                                <p>Children in Crisis is a local, non-profit charity committed to “Providing Homes…Keeping Brothers and Sister Together.”</p>
                                <hr>
                                <h4 style="margin-bottom:10px;"><b>About CIC</b></h4>
                                    <p>Children in Crisis, Inc. is a 501(c)(3) non-profit organization of caring people, working together to provide homes and keep brothers and sisters together. We give a home to the abused, neglected, and abandoned children of our community.</p>

                                    <p>Before Children in Crisis, there was no Emergency Shelter in Circuit One (which includes Okaloosa, Walton, Escambia and Santa Rosa Counties in Northwest Florida) for young children removed from an unsafe environment on short notice. Without CIC and the stability it brings, many foster children would be moved from home to home, some as many as ten times per year.</p>

                                    <p> The Children’s Neighborhood provides a home to an average of 100 children per year. Since opening our doors in 2008, CIC has been called “home” by over 950 children. Providing these children with almost 120,000 days and nights of a safe, loving environment to grow and thrive. At The Children’s Neighborhood, sibling separation is minimized and it is our priority to keep brothers and sisters together.</p>
                                    
                                    <p>Our neighborhood is growing, our campus is now built up of a Emergency Shelter, five-family foster homes and Opportunity Home, with 8-studio apartments for the young adults that age out of Foster Care.  In addition we have the Clubhouse and an Administrative Offices. Your commitment to helping sustain operations of the Children’s Neighborhood is vital to our success. Together, we are making a difference in the lives of hundreds of children. Thank you for supporting our children!</p>
                            </div>
                            <%= link_to(image_tag('charity/org-cic.png', alt: 'Children in Crisis Logo', class: 'img-responsive charity-logo'), cic_path, :target => '_blank' ) %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="org-box">
                <a data-uk-modal="{center:true}" class="org-modal" href="#modal-ejyc">
                    <%= image_tag('charity/org-ejyc.png', alt: 'Eleanor J Johnson Youth Centern logo', class: 'img-responsive') %>
                </a>
                <div class="uk-modal" id="modal-ejyc">
                    <div class="uk-modal-dialog uk-modal-dialog-large">
                        <a class="uk-modal-close uk-close"></a>
                        <div class="content">
                            <h3>The Eleanor J Johnson Youth Center</h3>

                            <div class="desc">
                                <p>The Eleanor J Johnson Youth Center was founded in 1997 to provide youth with an equal opportunity to a safe and healthy environment, where they may receive after school tutoring and summer recreation Monday through Friday.</p>

                                <p>Currently, the Youth Center is providing after school services to 76 underprivileged youth ages 6 to 15, M-F from 2pm to 6pm, with special focus placed on Math and Science. They are working hard to provide more summer programs for 2015 with hopes of many more field trips. Todd Gatlin, Executive Director, thanks all the sponsors of ECF, for helping them increase their services in 2015!</p>
                            </div>
                            <%= link_to(image_tag('charity/org-ejyc.png', alt: 'Eleanor J Johnson Youth Center Logo', class: 'img-responsive charity-logo'), ejyc_path, :target => '_blank' ) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="clearfix"></div>
