<% content_for :title do %>Extra Hand Promo<% end %>
<% content_for :description do %>
We want everyone to have the opportunity to enjoy The Emerald Coast Poker Run, so we have split the event into levels. Check the requirements to see which level is right for you!
<% end %>

<%= link_to register_now_path, class: 'sign-up' do %> 
Register Now
<% end %>

<div class="vp1">
  <div class="title">
    <h1>Register now for<br> <span>A Free Extra Hand</span></h1>
    <!-- <h1>Who doesn't need<br> <span>A Free Extra Hand</span></h1> -->
  </div>
</div>

<div class="vp2">
  <div class="insideAlt">
    <div class="textbox">
      <h2>We want you back! <br>use code at registration:</h2>
      <h3>ExtraHand2020</h3>
    </div>

    <div class="top-pull"><%= image_tag('promo-img7.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive top-img') %></div>
  </div>
</div>

<div class="vp3 ehp">
  <div class="insideAlt">
    <div class="extras">
      <!-- <h4>We want you back!</h4> -->
      <p class="color">Register now for the <b><span>2020</span> Emerald Coast Poker Run!</b></p>
      <p>Use the promo code below to get an <b>extra hand</b> to play at the Poker Run Party, 
      and an additional chance to <b>win a <span>2020</span> Emerald Coast <br class="rules">Harley-Davidson Motorcycle!</b></p>
      
      <div class="vp5">
        <%= image_tag('ecf-logo-min.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo') %>
        <%= image_tag('ecfoundation2.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo lrl2') %>
      </div>
    </div>

    <div class="img-dec"><%= image_tag('promo-img5.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive solo-img') %></div>
  </div>
</div>

<div class="vpNav ehp">
  <div class="inside">
    <%= link_to "Click here to visit main site", root_path, class: "main-link" %>
  </div>
</div>