<% content_for :title do %>Extra Hand Promo<% end %>
<% content_for :description do %>
We want everyone to have the opportunity to enjoy The Emerald Coast Poker Run, so we have split the event into levels. Check the requirements to see which level is right for you!
<% end %>

<%= link_to register_now_path, class: 'sign-up' do %> 
Register Now
<% end %>
<!-- ExtraHand2020
Extra Hand $50 value Free

We want you back!
Register now for the Emerald Coast Poker Run, and get an extra hand to play at the Poker Run Party for an additional chance to win a 2020 Emerald Coast Harley-Davidson Motorcycle!
 -->

<div class="vp1">
  <div class="title">
    <!-- <h1>Get a<br> <span>Free Extra Hand</span></h1> -->
    <h1 class="alt"><span>Free Extra Hand</span><br>for the Poker Run Party</h1>
  </div>
</div>

<div class="vp2">
  <div class="inside">
    <div class="top-pull"><%= image_tag('promo-img7.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive top-img') %></div>
    <div class="textbox"><h2>Only $295 with promo code <br>(Regularly $395)</h2></div>
  </div>
</div>

<div class="vp3">
  <div class="insideAlt">
    <div class="img-dec"><%= image_tag('promo-img5.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive top-img') %></div>
  </div>
</div>

<div class="vp4">
  <div class="inside">
    <%= image_tag('ecf-logo-min.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo') %>
    <%= image_tag('ecfoundation2.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo lrl2') %>
  </div>
</div>

<div class="vpNav">
  <div class="inside">
    <%= link_to "Click here to visit main site", root_path, class: "main-link" %>
  </div>
</div>