<% content_for :title do %>Emerald Coast Poker Run<% end %>
<% content_for :description do %>
Boat Week is a week-long boating celebration along the Emerald Coast, that rounds out with The Emerald Coast Poker Run. These events are orchestrated by the Emerald Coast Foundation, an organization that supports children’s charities and youth organizations in Okaloosa County.
<% end %>


<section class="home-top">
  <div class="open">
    <!-- <%= image_tag("collage.jpg", class: 'img-responsive collage', alt: '') %>  -->
    <div class="title-box">
      <h2 class="top">The Original</h2>
      <h1>Emerald Coast<br> Poker Run</h1>
      <!-- <h2>"The Big One"</h2> -->
      <br>
      <h3 class="date">Saturday, August 8, 2020</h3>
      <ul id="countdown" class="slider-countdown-two" data-countdown-time="2020/08/8">
        <!-- <li><= link_to "Register Now", register_now_path, class: 'now' %></li> -->
      </ul>
      <%= link_to register_now_path, class: 'reg-now' do %>
      Register Now
      <% end %>
    </div>
  </div>
</section>

<div class="covBox">
  <%= link_to "Click here for updates to the 2020 Poker Run", poker_run2020_path %>
</div>

<section class="cst-ebox">
  <div class="ebox">
    <div class="top">
      <h4>The Emerald Coast Foundation is proud to announce</h4>
      <h3><span>2020 Boat Week</span> <br>on the Emerald Coast</h3>
      <h5>August 5-8</h5>
    </div>

    <div class="mtext">
      <div class="ltext">
        <p>
          <b>Powerboats, fishing boats, pleasure boats,</b> and all in between, will fill the waterways for one of the largest and most popular charity poker runs in the USA!
          Affectionately called <b>“The Big One,”</b> the Emerald Coast Poker Run has been held along the beautiful waters in and around Destin, Florida for over 25 years.
        </p>

        <p>Boat Week events start with a bang Wednesday night, and continue to “The Big One” Poker Run party Saturday night.
        <b>It is truly a week of excitement, boating, fun, and helping kids.</b></p>
      </div>

      <div class="rtext">
        <p>
          <b>All proceeds from Emerald Coast Boat Week and Poker Run go to the recipient children’s charities of the Emerald Coast Foundation.</b>
          This event was started 25 years ago to help the youth of our local area have a chance at a brighter future.
          Without the ECF, these kids would go without, and that is not acceptable to us.
        </p>

        <p>
          <b>As of Boat Week last year, the Emerald Coast Foundation has raised over $2.5 million dollars for our local kids in need.</b>
          What an impact! This is a volunteer run event.
          There are no paid employees. Every penny goes to the kids.
          We do it out of love and dedication to our community and our kids.
          <b>Please join us for the one and only ORIGINAL Emerald Coast Poker Run!</b> Help us help the kids who need it most.
        </p>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="rls text-center">
      <%= image_tag('ecfoundation2.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive run-logo') %>
      <%= image_tag('xs-logo.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive run-logo') %>
      <%= image_tag('ip.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive run-logo') %>
    </div>
  </div>
</section>

<!-- <div class="home-layout">
  <div class="inner">
    <div class="full">
      <div class="rhlf alt">
        <div class="clearfix"></div>
        <div class="fb-page" data-href="https://www.facebook.com/EmeraldCoastFoundation/" data-tabs="timeline" data-height="420px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/EmeraldCoastFoundation/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EmeraldCoastFoundation/">Emerald Coast Foundation</a></blockquote></div>
      </div>
    </div>
  </div>
</div> -->

<section class="lodge-list">
  <div class="lodge-inner">
    <h3>Stay With Our Lodging Partners</h3>
    <div class="plat">
      <h4>Emerald Sponsor:</h4>
      
      <div class="clearfix"></div><br>
      <!-- http://www.ramadafwb.com/ -->
      <%= link_to 'https://reservations.redlion.com/ibe/details.aspx?propertyid=15358&nights=1&checkin=08/05/2019&group=EMER0805', target: '_blank', class: 'home-lodge sq withp' do %>
        <%=image_tag('sponsors/sponsors-island.jpg', alt:'Poker Run Lodging Partner The Island', class: 'img-responsive') %>
        <p>Click to Book Now</p>
      <% end %>
      <div class="clearfix"></div>

      <!-- <= link_to 'https://www.destinwest.com/', target: '_blank', class: 'home-lodge sq withp' do %> -->
      <div class="home-lodge sq withp inline">
        <%=image_tag('sponsors/dwv-vacay.jpg', alt:'Poker Run Lodging Partner The Island', class: 'img-responsive') %>
        <p><a href="tel: +18008470701">Call to Book:<br> 800-847-0701</a></p>
      </div>

      <!-- <= link_to 'https://www.destinwestrvresort.com/', target: '_blank', class: 'home-lodge sq withp' do %> -->
      <div class="home-lodge sq withp inline il2">
        <%=image_tag('sponsors/dwv-rv.jpg', alt:'Poker Run Lodging Partner The Island', class: 'img-responsive') %>
        <p><a href="tel: +18502004533">Call to Book:<br> 850-200-4533</a></p>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="bronze">
      <h4>Diamond Sponsor:</h4>
      <%= link_to 'https://www.wyndhamvacationrentals.com/promotion/annual-emerald-coast-boat-week-and-poker-run?utm_medium=referral&utm_source=emeraldcoastpokerrun.com&utm_campaign=ecf-poker-run_gulf-fl-nwf&utm_content=all&agencyid=wvr', target: '_blank', class: 'home-lodge sq mid' do %>
        <%=image_tag( 'sponsors/sponsor-rq.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive') %>
      <% end %>
    </div>

    <div class="bronze">
      <h4>Bronze Sponsor:</h4>
      <%= link_to 'https://www.oceanreefresorts.com/', target: '_blank', class: 'home-lodge sq mid' do %>
        <%=image_tag( 'lodging/home-oreef.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive dk') %>
      <% end %>
    </div>
  </div>
</section>

<section class="foundation">
  <div class="container no-padding-xs">
    <div class="motto">
      <%= image_tag('ecfoundation1.png', class:'img-responsive', alt: 'Emerald Coast Foundation Logo') %>
      <h4>To provide support, resources, and funding to local children’s charities, in order that they may achieve all their goals.</h4>
    </div>

    <div class="tb-half">
      <div class="text-box">
        <h3>A little about us...</h3>
          <p>  The strength of the Emerald Coast Foundation is its ability to achieve its mission: ECF is committed to “Investing in Youth” in Northwest Florida.
          This capacity is encapsulated in a number of fund raising activities that take place throughout the calendar year. The largest is the Emerald Coast Poker Run, held in August each year.
          <br>

          The Emerald Coast Foundation is the only not-for-profit organization that puts forth such effort, for the sole purpose of expanding its charitable reward and helping our most precious resource: the children of our community. To date, we have raised over 2 million dollars for our causes.
          </p>
      </div>
    </div>

    <div class="slider-mob">
      <%= video_tag 'check-presentation.mp4', width: '100%', controls: true, muted: true, autoplay: true %>
    </div>
  </div>
</section>

<div class="clearfix"></div>
