<% content_for :title do %>Emerald Coast Poker Run<% end %>
<% content_for :description do %>
Boat Week is a week-long boating celebration along the Emerald Coast, that rounds out with The Emerald Coast Poker Run. These events are orchestrated by the Emerald Coast Foundation, an organization that supports children’s charities and youth organizations in Okaloosa County.
<% end %>


<section class="home-top">
  <div class="open">
    <div class="title-box">
      <h2 class="top">The Original</h2>
      <h1>Emerald Coast<br> Poker Run</h1>
      <br/>
      <h3 class="date">Saturday, August 13, 2022</h3>
      <ul id="countdown" class="slider-countdown-two" data-countdown-time="2022/8/13"></ul>
      <%= link_to "Register Now", registration_path, class: 'reg-now' %>
      <a href="https://form.jotform.com/211166902683153" target="_blank" class="reg-now alt">Party Tickets</a>

    </div>
  </div>
</section>

<section class="cst-ebox">
  <div class="ebox">
    <div class="top">
      <h4>The Emerald Coast Foundation is proud to announce</h4>
      <h3>
        <!-- <= event_year %> -->
      2022 Emerald Coast Poker Run<br/> August 12-13</h3>
      <div class="clearfix regClear"></div>
      <%= link_to "Register Now", register_now_path, class: 'regBtn inline' %>
      <%= link_to "FAQs", faqs_path, class: 'regBtn two inline' %>
      <!-- <hr class="hlf"/> -->
      <!-- <p class="prize">Win a 2021 Emerald Coast Harley-Davidson Motorcycle, and other big prizes!</p> -->
    </div>

    <div class="mtext">
      <div class="rtext">
        <p><b>Powerboats, fishing boats, pleasure boats,</b> and all in between, will fill the waterways for one of the largest and most popular charity poker runs in the USA! </p>

        <p><b>All proceeds from Emerald Coast Boat Week and Poker Run go to the recipient children’s charities of the Emerald Coast Foundation.</b> This event was started over 25 years ago to help the youth of our local area have a chance at a brighter future. </p>

        <p><b>As of last year, the Emerald Coast Foundation has raised over $2.5 million dollars for our local kids in need.</b> What an impact! This is a volunteer run event. There are no paid employees. Every penny goes to the kids. We do it out of love and dedication to our community and our kids. <b>Please join us for the one and only ORIGINAL Emerald Coast Poker Run!</b> Help us help the kids who need it most.</p>
      </div>

      <div class="ltext">
        <div class="fb-page" data-href="https://www.facebook.com/EmeraldCoastFoundation/" data-tabs="timeline" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/EmeraldCoastFoundation/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EmeraldCoastFoundation/">The Emerald Coast Foundation</a></blockquote></div>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="rls text-center">
      <%= image_tag('ecfoundation2.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive run-logo') %>
      <%= image_tag('xs-logo.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive run-logo') %>
      <%= image_tag('ip.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive run-logo') %>
    </div>
  </div>
</section>


<section class="lodge-list">
  <div class="lodge-inner">
    <h3>Stay With Our Lodging Partners</h3>
    <div class="plat">
      <div class="clearfix"></div><br>
      <%= link_to 'https://nam12.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.ascendcollection.com%2Fires%2Fen-US%2Fhtml%2FArrivalInfo%3Fhotel%3DFLF10%26srp%3DLPOKER%26pu%3Dno&data=04%7C01%7Cdtashik%40freshstartfl.com%7Cd96948f39f7e44d4ae4b08d931d5dbbe%7Cf56e9ec49ae44b34b28d520275254fe2%7C0%7C0%7C637595616850202017%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C1000&sdata=CK7h6pkZAnOg%2FXPBnMR3v9jk1ad1XEuK66Izo6rwty0%3D&reserved=0', target: '_blank', class: 'home-lodge sq withp' do %>
        <%=image_tag( 'sponsors/destin-harbor.png', alt:'Poker Run Lodging Partner Inn on Destin Harbor', class: 'img-responsive') %>
        <p>Click to Book Now</p>
      <% end %>
  </div>
</section>

<section class="foundation">
  <div class="container no-padding-xs">
    <div class="motto">
      <%= image_tag('ecfoundation1.png', class:'img-responsive', alt: 'Emerald Coast Foundation Logo') %>
      <h4>To provide support, resources, and funding to local children’s charities, in order that they may achieve all their goals.</h4>
    </div>

    <div class="tb-half">
      <div class="text-box">
        <h3>A little about us...</h3>
          <p>  The strength of the Emerald Coast Foundation is its ability to achieve its mission: ECF is committed to “Investing in Youth” in Northwest Florida.
          This capacity is encapsulated in a number of fund raising activities that take place throughout the calendar year. The largest is the Emerald Coast Poker Run, held in August each year.
          <br>

          The Emerald Coast Foundation is the only not-for-profit organization that puts forth such effort, for the sole purpose of expanding its charitable reward and helping our most precious resource: the children of our community. To date, we have raised over 2 million dollars for our causes.
          </p>
      </div>
    </div>

    <div class="slider-mob">
      <%= video_tag 'check-presentation.mp4', width: '100%', controls: true, muted: true, autoplay: true %>
    </div>
  </div>
</section>

<div class="clearfix"></div>
