<% content_for :title do %>Lodging Partners<% end %>
<% content_for :description do %>
Boat week and the Emerald Coast Poker Run would not be possible without some amazing individuals, volunteers, and businesses. The Emerald Coast Foundation would like to give a special thanks to all of them!
<% end %>

<div class="head-1">
    <h3>Where Should You Stay?</h3>
    <h1>Ask Our Lodging Partners</h1>
</div>

<section class="lodge">
    <div class="lodge-inner">
        <div class="container">
            <div class="plat">
                <h4>Platinum Sponsors:</h4>

                <%= link_to 'https://www.wyndhamvacationrentals.com/promotion/26th-annual-emerald-coast-boat-week-and-poker-run?utm_source=emeraldcoastpokerrun.com&utm_medium=referral&utm_campaign=pokerrun&utm_content=nwf-aug2018', target: '_blank', class: 'home-lodge one' do %>
                    <%=image_tag( 'lodging/home-rq.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive') %>
                <% end %>
                <div class="clearfix"></div><br>

                <%= link_to 'http://www.ramadafwb.com/', target: '_blank', class: 'home-lodge' do %>
                    <%=image_tag( 'lodging/home-ramada.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive') %>
                <% end %>
            </div>

            <div class="clearfix"></div>

           <!--  <div class="gold">
                <h4>Gold Sponsor:</h4>

                
            </div> -->

            <div class="bronze">
                <h4>Bronze Sponsors:</h4>
                <p class="print">If you are booking with Sandestin, you must use <span>Group Code: #23U8P8</span></p>

                <!-- <div class="col-md-6 brz">
                    <%= link_to 'http://www.sandestin.com/23U8P8.aspx', target: '_blank', class: 'home-lodge b1' do %>
                        <%=image_tag( 'lodging/home-sandestin.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive') %>
                    <% end %>
                </div> -->

                <div class="col-md-6 col-md-offset-3">
                    <%= link_to 'https://www.oceanreefresorts.com/', target: '_blank', class: 'home-lodge alt b2' do %>
                        <%=image_tag( 'lodging/home-ocean-reef.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive') %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
