<% content_for :title do %>Lodging Partners<% end %>
<% content_for :description do %>
Boat week and the Emerald Coast Poker Run would not be possible without some amazing individuals, volunteers, and businesses. The Emerald Coast Foundation would like to give a special thanks to all of them!
<% end %>

<div class="head-1">
    <h3>Where Should You Stay?</h3>
    <h1>Ask Our Lodging Partners</h1>
</div>

<section class="lodge">
    <div class="lodge-inner">
        <div class="container">
            <div class="plat">
                <h4>Emerald Sponsor:</h4>
                <%= link_to 'https://reservations.redlion.com/ibe/details.aspx?propertyid=15358&nights=1&checkin=08/05/2019&group=EMER0805', target: '_blank', class: 'home-lodge sq withp' do %>
                    <%=image_tag('sponsors/sponsors-island.jpg', alt:'Poker Run Lodging Partner The Island', class: 'img-responsive') %>
                    <p>Click to Book Now</p>
                <% end %>
                <div class="clearfix"></div>

                <!-- <= link_to 'https://www.destinwest.com/', target: '_blank', class: 'home-lodge sq withp' do %> -->
                <div class="home-lodge sq withp inline">
                  <%=image_tag('sponsors/dwv-vacay.jpg', alt:'Poker Run Lodging Partner The Island', class: 'img-responsive') %>
                  <p><a href="tel: +18008470701">Call to Book:<br> 800-847-0701</a></p>
                </div>

                <!-- <= link_to 'https://www.destinwestrvresort.com/', target: '_blank', class: 'home-lodge sq withp' do %> -->
                <div class="home-lodge sq withp inline il2">
                  <%=image_tag('sponsors/dwv-rv.jpg', alt:'Poker Run Lodging Partner The Island', class: 'img-responsive') %>
                  <p><a href="tel: +18502004533">Call to Book:<br> 850-200-4533</a></p>
                </div>
                <div class="clearfix"></div>
            </div>


            <div class="bronze">
                <h4>Diamond Sponsor:</h4>

                <%= link_to 'https://www.wyndhamvacationrentals.com/promotion/annual-emerald-coast-boat-week-and-poker-run?utm_medium=referral&utm_source=emeraldcoastpokerrun.com&utm_campaign=ecf-poker-run_gulf-fl-nwf&utm_content=all&agencyid=wvr', target: '_blank', class: 'home-lodge sq mid' do %>
                    <%=image_tag( 'sponsors/sponsor-rq.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive') %>
                <% end %>
            </div>

            <div class="bronze">
                <h4>Bronze Sponsor:</h4>

                <%= link_to 'https://www.oceanreefresorts.com/', target: '_blank', class: 'home-lodge sq mid' do %>
                    <%=image_tag( 'lodging/home-oreef.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive dk') %>
                  <% end %>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
