<% content_for :title do %>Sponsors<% end %>
<% content_for :description do %>
Boat week and the Emerald Coast Poker Run would not be possible without some amazing individuals, volunteers, and businesses. The Emerald Coast Foundation would like to give a special thanks to all of them!
<% end %>
<div class="newsponsor">
    <section class="breadcrumb-area">
        <div class="container">
            <div class="col-lg-3 col-lg-offset-1 col-xs-12 stack1">
                <h4>Emerald Coast Poker Run</h4>
                <h1>Partners</h1>
            </div>

            <div class="col-lg-6 col-lg-offset-2 stack2">
                <p>Boat week and the Emerald Coast Poker Run would not be possible without some amazing individuals, volunteers, and businesses. </p>
                <p>The Emerald Coast Foundation would like to give a special thanks to all of our generous sponsors and lodging partners, for helping to make these events happen.</p>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>

    <section class="sponsors-grid">
        <div class="container no-padding">
            <div class="top-spons tier1">
                <%= link_to 'http://www.ipbiloxi.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%image_tag( 'sponsors/sponsors-ip.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>
            </div>
            <div class="clearfix"></div>
            <hr>

            <div class="top-spons tier2">
                <%= link_to 'http://www.ramadafwb.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-island.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.emeraldcoasthd.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-hd.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.maryestherbingo.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%image_tag( 'sponsors/sponsors-meb.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.ajsdestin.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors4.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.ajsoystershanty.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors5.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.facebook.com/AJsOnTheBayou/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors6.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://harrisoncontracting.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-harcontract.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.hammockbayfl.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors29.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.michlesbooth.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors31.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://hsdesignhouse.com', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsor-hsdh.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://bamboowillies.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors9.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>
            </div>
            <div class="clearfix"></div>
            <hr>

            <div class="top-spons tier3">
                <%= link_to 'http://www.emeraldcoastfl.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%image_tag( 'sponsors/sponsors1b.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.adventuremarina.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors3.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.wyndhamvacationrentals.com/promotion/annual-emerald-coast-boat-week-and-poker-run?utm_medium=referral&utm_source=emeraldcoastpokerrun.com&utm_campaign=ecf-poker-run_gulf-fl-nwf&utm_content=all&agencyid=wvr', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsor-rq.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.juanaspagodas.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors30.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://s572166334.onlinehome.us/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors47.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.sunrisemarine.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-sunrisemarine.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.thrivefwb.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-thrive.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.suzukioutboardteam.com/landing-4/?gclid=CjwKCAjwscDpBRBnEiwAnQ0HQJNehOcQTtLugGfXjY5g1dONMgISlnnANVfA0bFbRfD6aH3riDxkDBoCRGsQAvD_BwE', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-suzuki.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>
            </div>
            <div class="clearfix"></div>
            <hr>

            <div class="top-spons tier4">
                <%= link_to 'http://www.aramark.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors8.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.boteboard.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors12.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://buffalosreef.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors14.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.bankccb.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors17.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.wncv.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors18.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to '', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors26.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <!-- NEW -->
                <%= link_to 'http://www.nwfdailynews.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-nwf.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>
                
                <!-- NEW -->
                <%= link_to 'https://www.legendarymarine.com/index.htm', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-legendary.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.nashfm1055.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors34.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://theblockclub.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsor-block.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://a2zdestin.espwebsite.com', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors2.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.wftw.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors48.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.wksm.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors49.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.z96.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors50.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.petermann.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-peterman.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://www.facebook.com/golfclassic1412/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-grim.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.promdressespensacoladestinpanamacity.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-elegant.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://familyfirstlife.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-famfirst.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://iammaxfit.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-max.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>
                
                <%= link_to 'http://www.freedomselfstoragefwb.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-freedom.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://twogeorgesmarina.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-georges.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'http://www.enlightenedvisual.com/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-yoga.png', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>

                <%= link_to 'https://florida-tile-wood-carpet-one-floor-home.business.site/', target: '_blank', class: 'sponsor-sq' do %>
                    <%=image_tag( 'sponsors/sponsors-carpetone.jpg', alt:'Emerald Coast Foundation, Poker Run', class: 'img-responsive sponsor-img') %>
                <% end %>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
</div>
