<% content_for :title do %>Free VIP Upgrade <% end %>
<% content_for :description do %>
Take advantage of this amazing deal, and upgrade to VIP for the 2020 Emerald Coast Poker Run!
<% end %>


<%= link_to register_now_path, class: 'sign-up' do %>Register Now<% end %>

<div class="vp1">
  <div class="title">
    <h1>2020 Poker Run<br> <span>Free VIP Upgrade</span></h1>
  </div>
</div>

<div class="vp2">
  <div class="inside">
    <div class="textbox"><h2>Only $295 (Regularly $395) <br>with promo code:</h2><h3>UpgradeMe2020</h3></div>
    <div class="top-pull"><%= image_tag('promo-img15.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive top-img') %></div>
  </div>
</div>


<div class="vp3">
  <div class="insideAlt">
    <div class="extras">
      <h4>Upgrading to VIP gets you:</h4>
      <p>1 boat entry into the Emerald Coast Poker Run<br> <b>with <span>2</span> hands to play for a <span>2020</span> Emerald Coast Harley-Davidson</b></p>
      <i class="fa fa-circle"></i>
      <p>The Famous Captain's Cooler Bag and <span>2</span> Event T-shirts</p>
      <i class="fa fa-circle"></i>
      <p><b>Entry for <span>2</span> to all Emerald Coast Boat Week Events</b></p>
      <i class="fa fa-circle"></i>
      <p>Free weekend stay at the IP Casino</p>
      <i class="fa fa-circle"></i>
      <p><b>Full Bar Access and VIP only gaming tables at the Poker Run Party</b></p>
      <i class="fa fa-circle"></i>
      <p><b class="red">Over <span>$1000</span> Value!</b></p>
    </div>

    <div class="img-dec">
      <%= image_tag('promo-img10.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive img-fw') %>
      <%= image_tag('promo-img10mob.jpg', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive img-mob') %>
    </div>
  </div>
</div>

<div class="vp4">
  <div class="inside">
    <%= image_tag('ecf-logo-min.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo') %>
    <%= image_tag('ecfoundation2.png', alt: 'Emerald Coast Poker Run, 2017', class: 'img-responsive lr-logo lrl2') %>
  </div>
</div>

<div class="vpNav">
  <div class="inside">
    <%= link_to "Click here to visit main site", root_path, class: "main-link" %>
    <!-- <= render "/shared/nav" %> -->
  </div>
</div>