<!-- Section was added closer to time for the event.  -->

<div class="inform-faq">
    <h3 class="text-center"><b>Boat Week &amp; Poker Run Quick Links</b></h3>
    <hr class="col-md-6 col-md-offset-3"><div class="clearfix"></div>

    <div class="facebook-feed">
        <div class="fb-page" data-href="https://www.facebook.com/EmeraldCoastFoundation/" data-tabs="timeline" data-height="415px" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/EmeraldCoastFoundation/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EmeraldCoastFoundation/">Emerald Coast Foundation</a></blockquote></div>
    </div>

    <div class="links">
        <%= link_to '/registration', class: 'faq' do %>
            <h4>Poker Run Registration</h4>
            <p>Take a look at the requirements for each level of the Poker Run.</p>
        <% end %>

        <%= link_to '/registration#checkin', class: 'faq' do %>
            <h4>Poker Run Check-In</h4>
            <p>See all the check-in locations and times for the 2017 Poker Run.</p>
        <% end %>

         <a class="faq" data-uk-offcanvas="{target:'#offcanvas-captn'}">
            <h4>Captain's Meeting Schedule</h4>
            <p>All captains must attend one of these mandatory safety meetings.</p>    </a>

        <%= link_to '/events', class: 'faq' do %>
            <h4>Boat Week Events</h4>
            <p>See the calendar of fun activities coming up during 2017 Boat Week!</p>
        <% end %>

        <%= link_to '/sponsors', class: 'faq' do %>
            <h4>Sponsors</h4>
            <p>See all of the amazing Sponsors that make Boat Week possible.</p>
        <% end %>

        <%= link_to '/stops', class: 'faq' do %>
            <h4>Stops</h4>
            <p>Check out all the stops for both levels of the 2017 Poker Run.</p>
        <% end %>

        <%= link_to '/party-tickets', class: 'faq' do %>
            <h4>Annual Poker Run Party</h4>
            <p>A night of dancing, entertainment, and open bar! Purchase tickets here.</p>
        <% end %>

        <%= link_to '/lodging', class: 'faq' do %>
            <h4>Lodging Information</h4>
            <p>Book a room with one of our lodging partners for Boat Week 2017! </p>
        <% end %>

        <%= link_to "MissBoatWeek2017.pdf", target: '_blank', class: 'faq bw' do %>
            <h4>Miss Boat Week</h4>
            <p>Want to be Miss Boat Week 2017? Click here to register.</p>
        <% end %>
    </div>
</div>
