<ul>
    <li><%= link_to "Home", root_path, class: 'nav-link' %></li>
    <li><%= link_to "The Foundation", ec_foundation_path, class: 'nav-link' %></li>

    <li class="dropdown"><a class="nav-link pr20x">Poker Run <span>2021</span></a>
        <ul class="submenu extra">
            <li class="sig"><%= link_to "Register Now", register_now_path, class: 'nav-link' %></li>
            <li><%= link_to "New in 2021", poker_run2021_path, class: 'nav-link' %></li>            
            <li><%= link_to "Registration", registration_path, class: 'nav-link' %></li>
            <li><%= link_to "Stops", stops_path, class: 'nav-link' %></li>
            <li><%= link_to "Boat Trailer Parking", trailer_parking_path, class: 'nav-link' %></li>
            <li><%= link_to "FAQs", faqs_path, class: 'nav-link' %></li>
        </ul>
    </li>

    <li class="dropdown"><a class="nav-link">Sponsors</a>
        <ul class="submenu extra">
            <li><%= link_to "Our Sponsors", sponsors_path, class: 'nav-link' %></li>
            <li><%= link_to "Become a Sponsor", "/2021-sponsor-package.pdf", target: "_blank", class: 'nav-link' %></li>
        </ul>
    </li>

    <li><%= link_to "Gallery", gallery_path, class: 'nav-link' %></li>
    <li><%= link_to "Contact Us", contact_path, class: 'nav-link' %></li>
</ul>

