<section class="top-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 xs-r">
                <div class="social-linls pull-right">
                    <%= link_to 'https://www.facebook.com/emeraldcoastpokerrun/', target: '_blank' do %>
                      <i class="fa fa-facebook"></i>
                    <% end %>

                    <%= link_to 'https://twitter.com/runpoker', target: '_blank' do %>
                      <i class="fa fa-twitter"></i>
                    <% end %>

                    <%= link_to 'https://www.instagram.com/ec_poker_run/?hl=en', target: '_blank' do %>
                      <i class="fa fa-instagram"></i>
                    <% end %>

                    <%= link_to 'https://www.youtube.com/channel/UCywMc0ugsQ847hYdkMi-ytA', target: '_blank' do %>
                      <i class="fa fa-youtube"></i>
                    <% end %>

                    <span></span>
                    <a data-uk-modal="{center:true}" class="modal2" href="#modald">Donate to the Cause</a>
                </div>
            </div>
        </div>
    </div>
</section>

<header class="header">
    <div class="container-fluid main-header">
        <%= link_to(image_tag('new-logo1.png', alt: 'Emerald Coast Foundation Logo', class: 'img-responsive logo-img'), root_path ) %>
        
        <div class="header-right custom">
            <div class="nav-footer collapse" id="mainNavWrapper">
                <%= render 'shared/nav' %>
            </div>
        </div>

        <div>
            <a href="#" id="offcanvas-toggler">
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>
    </div>
</header>

<div class="uk-modal donate" id="modald">
    <div class="uk-modal-dialog uk-modal-dialog-large">
        <a class="uk-modal-close uk-close"></a>
        <div class="content">
            <div class="donations text-center">
                <h3>Donate to the Emerald Coast Foundation</h3>
                <p>In the past 24 years, the Emerald Coast Foundation has exceeded $2,000,000 in donations, in support of various local youth orientated organizations. Your dollars have helped keep the doors open for facilities that help local kids in need.</p>
                <h4>What better way to invest in your own community than “Investing in Youth”?</h4>

                <div class="box">
                    <div class="col-md-4 left">
                        <!-- <hr> -->
                        <h4 class="">Contact Information</h4>
                        <hr>
                        <div class="clearfix"></div>
                        <p><a href="tel: +18504036177">850.403.6177</a></p>
                        <p>PO Box 1208<br> Fort Walton Beach, Fl 32549 </p>

                        <p><%= mail_to "ecfoundationfl@gmail.com" %></p>
                    </div>

                    <div class="col-md-4 mid">
                        <div id="wufoo-s1go3xpj0slrfc7">
                        Fill out my <a href="https://ecfoundation.wufoo.com/forms/s1go3xpj0slrfc7">online form</a>.
                        </div>
                        <script type="text/javascript">var s1go3xpj0slrfc7;(function(d, t) {
                        var s = d.createElement(t), options = {
                        'userName':'ecfoundation',
                        'formHash':'s1go3xpj0slrfc7',
                        'autoResize':true,
                        'height':'350',
                        'async':true,
                        'host':'wufoo.com',
                        'header':'show',
                        'ssl':true};
                        s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                        s.onload = s.onreadystatechange = function() {
                        var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                        try { s1go3xpj0slrfc7 = new WufooForm();s1go3xpj0slrfc7.initialize(options);s1go3xpj0slrfc7.display(); } catch (e) {}};
                        var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                        })(document, 'script');</script>

                    </div>

                    <div class="col-md-4 right">
                        <h4>Donate using Paypal:</h4>
                        <%= render 'shared/donation' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
